#functioning {
    .functioning-header {
        @include maxsize(1080px);
        margin: 0 auto;
        color: var(--black);
        text-align: center;
        padding: 4rem 2rem 0 2rem;

        .title {
            @include font(3rem, 1.2, 600, -0.5px);
            margin-top: 0;
        }
    }

    .functioning-content {
        @include maxsize(1080px);
        margin: 0 auto;
        color: var(--black);
        padding: 0 2rem 5.5rem 2rem;

        .functioning-list {
            list-style: none;
            counter-reset: compteListe;
            padding: 0;

            .functioning-item {
                @include flex();
                @include align(inherit, center);
                margin: 2.5rem 0 0 0;
                border-radius: 1.75rem;
                padding: 2.25rem 1.5rem;
                box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
                background-color: var(--white-smoke);

                &:before {
                    @include size(2.1rem, 2.1rem);
                    @include flex();
                    @include align(center, center);
                    @include relative-position(inherit, inherit, inherit, -2.25rem);
                    counter-increment: compteListe 1;
                    content: counter(compteListe) " ";
                    color: var(--white);
                    background-color: var(--primary);
                    border-radius: 100%;
                }

                &:hover {
                    background-color: var(--blue-chalk);
                    box-shadow: 3px 3px 20px var(--silver);

                    .icon-mobile, .icon-list-ul, .icon-store {
                        color: var(--primary);
                    }
                }

                .icon-mobile, .icon-list-ul, .icon-store {
                    font-size: 27px;
                    color: var(--dim-gray);
                }

                .functioning-label {
                    @include font(1.4rem, 1.2, 400);
                    margin-left: 40px;
                }
            }
        }
    }
}