@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100|Shrikhand');
@import './utils/variables.scss';
@import './modules/mixins.scss';

@import './components/loader/loader.scss';
@import './components/header/header.scss';
@import './components/header/header-mobile.scss';
@import './components/footer/footer.scss';
@import './components/footer/footer-tablet.scss';
@import './components/footer/footer-mobile.scss';

@import './sections/reservation/reservation.scss';
@import './sections/reservation/reservation-mobile.scss';
@import './sections/functioning/functioning.scss';
@import './sections/functioning/functioning-mobile.scss';
@import './sections/restaurants/restaurants.scss';
@import './sections/restaurants/restaurants-tablet.scss';
@import './sections/restaurants/restaurants-mobile.scss';
@import './sections/menu/menu.scss';
@import './sections/menu/menu-tablet.scss';
@import './sections/menu/menu-mobile.scss';

body {
    background-color: var(--white);
    margin: 0;
    @include font(1rem, 1.5, 400);
}

.main {
    @include relative-position(120px);
    min-height: 100vh;
    @include breakpoint(mobile) {
        @include relative-position(93px);
    }
}

.menu-main {
    @include relative-position(93px !important);
}

.section {
    @include size();
    margin: 0 auto;
}