@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100|Shrikhand');
@import './utils/variables.scss';
@import './modules/mixins.scss';
@import './components/header/header.scss';
@import './components/header/header-mobile.scss';
@import './sections/reservation/reservation.scss';
@import './sections/reservation/reservation-mobile.scss';
@import './sections/functioning/functioning.scss';
@import './sections/functioning/functioning-mobile.scss';
@import './sections/restaurants/restaurants.scss';
@import './sections/restaurants/restaurants-tablet.scss';
@import './sections/restaurants/restaurants-mobile.scss';

body {
    background-color: white;
    color: #4e4e4e;
    margin: 0;
    @include font(1rem, 1.5, 400);
}

.main {
    position: relative;
    top: 120px;
    min-height: 100vh;
    @include breakpoint(mobile) {
        top: 93px;
    }
}

.section {
    width: 100%;
    margin: 0 auto;
}