.header {
    @include size(100%, 122px);
    position: fixed;
    top: 0px;
    background-color: var(--white);
    z-index: 3;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);

    .header-container {
        @include size(auto, 90px);
        @include maxsize(845px);
        margin: 0px auto;
        padding: 1rem;

        .header-column {
            @include flex();
            @include align(center, baseline);
            margin-bottom: 1rem;
            color: var(--black);
            &:last-child {
                margin-bottom: 0;
            }

            .header-previous {
                @include flex();
                @include align(inherit, center);
                @include font(30px);
                color: var(--black);
                text-decoration: none;
            }
            
            .header-previous.disabled {
                display: none;
            }
    
            .header-title {
                @include size();
                @include flex();
                @include align(center, flex-end);
                @include relative-position();
                margin: 0;
        
                .header-link {
                    @include flex();

                    .logo-ohmyfood {
                        @include size(270px);
                    }
                }
            }

            .icon-map {
                font-size: 23px;
            }

            .address {
                @include font(1.4rem, 1.5);
                margin-left: 22px;
            }
        }     
    } 
}

.menu-header {
    @include size(100%, 93px);
    .menu-header-container {
        @include size(100%, 61px);
        .header-column {
            @include size();
            .header-previous {
                @include relative-position(inherit, inherit, 12px);
            }
        }
    }
}