<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Bienvenue chez Ohmyfood! Vous pouvez des à présent composer votre menu en ligne directement depuis notre site !" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

    <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
   
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Ohmyfood! - Openclassrooms</title>
  </head>
  <body>
        <header class="header menu-header">
            <div class="header-container menu-header-container">
                <div class="header-column">
                    <a href="../index.html" class="header-previous">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <h1 class="header-title">
                        <a href="../index.html" class="header-link">
                            <img class="logo-ohmyfood" src="../public/images/logo/ohmyfood@2x.svg" alt="logo ohmyfood" />
                        </a>
                    </h1>
                </div>
            </div>    
        </header>  

        <main class="main menu-main">
            <section class="section" id="section-menu-la-palette-du-gout">
                <picture class="menu-picture">
                    <source media="(max-width: 640px)" srcset="../public/images/restaurants/mobile/la-palette-du-gout-mobile.jpg">
                    <source media="(max-width: 1080px)" srcset="../public/images/restaurants/tablet/la-palette-du-gout-tablet.jpg">
                    <source media="(max-width: 1438px)" srcset="../public/images/restaurants/laptop/la-palette-du-gout-laptop.jpg">
                    <source media="(min-width: 1439px)" srcset="../public/images/restaurants/desktop/la-palette-du-gout-desktop.jpg">
                    <img class="menu-image" src="../public/images/restaurants/desktop/la-palette-du-gout-desktop.jpg" alt="La palette du goût" />      
                </picture>       
                <div class="section-menu-content">
                    <header class="section-menu-header">
                        <h2 class="title">La palette du goût</h2>
                        <div class="btn-menu-content">
                            <i class="fa-2x fa-heart far icon-menu"></i>
                        </div>
                    </header>
                    <div class="menu-content">
                        <section class="menu-starter">
                            <header class="menu-starter-header">
                                <h3 class="menu-starter-title">Entrées</h3>
                            </header>

                            <article class="article-menu-starter">
                                <header class="article-menu-starter-header">
                                    <h4 class="article-menu-starter-title">Fricassée d'escargot</h4>
                                    <span class="article-menu-starter-subtitle">Au piment d'espelette</span>
                                </header>
                                <div class="article-menu-starter-price">
                                    <span class="price-menu-starter">25€</span>
                                </div>
                                <div class="article-menu-starter-confirmation">
                                    <div class="article-menu-starter-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-starter">
                                <header class="article-menu-starter-header">
                                    <h4 class="article-menu-starter-title">Foie gras de canard mi-cuit</h4>
                                    <span class="article-menu-starter-subtitle">Et ses copeaux de truffe noire</span>
                                </header>
                                <div class="article-menu-starter-price">
                                    <span class="price-menu-starter">35€</span>
                                </div>
                                <div class="article-menu-starter-confirmation">
                                    <div class="article-menu-starter-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-starter">
                                <header class="article-menu-starter-header">
                                    <h4 class="article-menu-starter-title">Oeuf au plat</h4>
                                    <span class="article-menu-starter-subtitle">Assaisonné à la truffe sur lit de poireaux</span>
                                </header>
                                <div class="article-menu-starter-price">
                                    <span class="price-menu-starter">20€</span>
                                </div>
                                <div class="article-menu-starter-confirmation">
                                    <div class="article-menu-starter-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <section class="menu-course">
                            <header class="menu-course-header">
                                <h3 class="menu-course-title">Plats</h3>
                            </header>

                            <article class="article-menu-course">
                                <header class="article-menu-course-header">
                                    <h4 class="article-menu-course-title">Filet de boeuf aux herbes</h4>
                                    <span class="article-menu-course-subtitle">Accompagné de sa ribambelle de légumes</span>
                                </header>
                                <div class="article-menu-course-price">
                                    <span class="price-menu-course">40€</span>
                                </div>
                                <div class="article-menu-course-confirmation">
                                    <div class="article-menu-course-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-course">
                                <header class="article-menu-course-header">
                                    <h4 class="article-menu-course-title">Parmentier de queue de boeuf</h4>
                                    <span class="article-menu-course-subtitle">A la truffe noire sur sa purée de panais</span>
                                </header>
                                <div class="article-menu-course-price">
                                    <span class="price-menu-course">35€</span>
                                </div>
                                <div class="article-menu-course-confirmation">
                                    <div class="article-menu-course-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-course">
                                <header class="article-menu-course-header">
                                    <h4 class="article-menu-course-title">Filet de Turbot</h4>
                                    <span class="article-menu-course-subtitle">Aux agrumes</span>
                                </header>
                                <div class="article-menu-course-price">
                                    <span class="price-menu-course">44€</span>
                                </div>
                                <div class="article-menu-course-confirmation">
                                    <div class="article-menu-course-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <section class="menu-dessert">
                            <header class="menu-dessert-header">
                                <h3 class="menu-dessert-title">Desserts</h3>
                            </header>

                            <article class="article-menu-dessert">
                                <header class="article-menu-dessert-header">
                                    <h4 class="article-menu-dessert-title">Paris-Brest</h4>
                                    <span class="article-menu-dessert-subtitle">Revisité</span>
                                </header>
                                <div class="article-menu-dessert-price">
                                    <span class="price-menu-dessert">18€</span>
                                </div>
                                <div class="article-menu-dessert-confirmation">
                                    <div class="article-menu-dessert-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-dessert">
                                <header class="article-menu-dessert-header">
                                    <h4 class="article-menu-dessert-title">Macaron au chocolat d'exception</h4>
                                    <span class="article-menu-dessert-subtitle">Et glace à la vanille de Madagascar</span>
                                </header>
                                <div class="article-menu-dessert-price">
                                    <span class="price-menu-dessert">22€</span>
                                </div>
                                <div class="article-menu-dessert-confirmation">
                                    <div class="article-menu-dessert-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>

                            <article class="article-menu-dessert">
                                <header class="article-menu-dessert-header">
                                    <h4 class="article-menu-dessert-title">Mousse au chocolat</h4>
                                    <span class="article-menu-dessert-subtitle">Au piment d'espelette et à la truffe noire</span>
                                </header>
                                <div class="article-menu-dessert-price">
                                    <span class="price-menu-dessert">23€</span>
                                </div>
                                <div class="article-menu-dessert-confirmation">
                                    <div class="article-menu-dessert-confirmation-icon">
                                        <i class="fa-check fas icon-confirmation"></i>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                    <footer class="section-menu-footer">
                        <button class="button-command">Commander</button>
                    </footer>
                </div>                 
            </section>
        </main>

        <footer class="footer footer-menu">
            <div class="footer-header">
                <h2 class="footer-title">ohmyfood</h2>
            </div>
            <nav class="footer-navigation">
                <div class="footer-column">
                    <ul class="footer-link-list">
                        <li class="footer-link-item">
                            <a href="#" class="footer-link">
                                <i class="fas fa-utensils footer-icon"></i>
                                <span class="footer-label">Proposer un restaurant</span>
                            </a>
                        </li>
                        <li class="footer-link-item">
                            <a href="#" class="footer-link">
                                <i class="fas fa-hands-helping footer-icon"></i>
                                <span class="footer-label">Devenir partenaire</span>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="footer-column">
                    <ul class="footer-link-list">
                        <li class="footer-link-item">
                            <a href="#" class="footer-link">Mentions légales</a>
                        </li>
                        <li class="footer-link-item">
                            <a href="mailto:ohmyfood@gmail.com" class="footer-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
  </body>
</html>