@include breakpoint(mobile) {
    #reservation {
        .reservation-local {
            @include size(100%, 74px);
            display: block;
            background-color: var(--whisper);
            .container {
                @include maxsize(1080px);
                @include size(250px, 33px);
                @include font(1.5rem, 1.5);
                padding: 1.25rem;
                margin: 0 auto;
                color: var(--black);
                .icon-map {
                    font-size: 25px;
                }

                .address {
                    margin-left: 22px;
                }
            }     
        }

        .reservation-search {
            .reservation-header {            
                .title {
                    @include font(2.3rem, 1.2, 600, -0.5px);
                    @include maxsize(414px);
                }
        
                .subtitle {
                    @include maxsize(100%);
                }
            }
        }
    }
}

@media screen and (max-width: 413px) {
    #reservation {
        .reservation-search {
            .reservation-header {
                padding: 0 1rem;
                
                .title {
                    @include font(1.9rem, 1.2, 600, -0.5px);
                    padding: 3rem 0 0 0;
                }

                .subtitle {
                    @include font(1.3rem, 1.1, lighter, -0.5px);
                }
            }
    
            .reservation-content {
                padding: 3rem 1rem 5.5rem 1rem;
                .btn {
                    @include font(1rem, 1.2, 500);
                    padding: 1.5rem 1.4rem;
                }
            }
        }
    }
}