@include breakpoint(mobile) {
    #reservation {
        .reservation-local {
            display: block;
            background-color: #EAEAEA;
            height: 74px;
            .container {
                padding: 1.25rem;
                max-width: 1080px;
                margin: 0 auto;
                color: black;
                font-size: 1.5rem;
                width: 250px;
                height: 33px;
                .icon-map {
                    font-size: 25px;
                }

                .address {
                    margin-left: 22px;
                }
            }     
        }

        .reservation-search {
            .reservation-header {            
                .title {
                    font-size: 2.3rem;
                    max-width: 414px;
                }
        
                .subtitle {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 413px) {
    #reservation {
        .reservation-search {
            .reservation-header {
                padding: 0 1rem;
                
                .title {
                    font-size: 1.9rem;
                    padding: 3rem 0 0 0;
                }

                .subtitle {
                    font-size: 1.3rem;
                }
            }
    
            .reservation-content {
                padding: 3rem 1rem 5.5rem 1rem;
                .btn {
                    font-size: 1rem;
                    padding: 1.5rem 1.4rem;
                }
            }
        }
    }
}