.footer {
    @include font(1.4rem, 1.5);
    @include relative-position(7.5rem);
    background-color: var(--night-rider);
    display: block;
    margin: 0;
    padding: 0.8rem 2rem 1.5rem 2rem;
    color: var(--white);
    text-align: center;

    .footer-header {
        @include maxsize(1080px);
        @include font(1rem, 1.5);
        margin: 0 auto;
        font-family: Shrikhand,"cursive";
    }

    .footer-navigation {
        @include maxsize(1080px);
        @include flex();
        margin: 0 auto;

        .footer-column {
            @include size(50%);

            .footer-link-list {
                padding: 0;
                list-style: none;

                .footer-link {
                    display: block;
                    margin: 1rem 0;
                    color: var(--inherit);
                    text-decoration: none;

                    .footer-icon {
                        @include size(1.8rem);
                    }

                    .footer-label {
                        margin-left: 10px;
                    }
                }
            }
        }
    }  
}