@include breakpoint(mobile) {
    #restaurants {
        .restaurants-header {
            .title {
                @include font(2.3rem, 1.2, 600, -0.5px);
                text-align: left;
            }
        }
    
        .restaurants-content {
            .restaurants-column {
                @include flex(column);
                row-gap: 2rem;
                padding-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 413px) {
    #restaurants {
        .restaurants-header {
            padding: 4rem 1rem 0 1rem;
    
            .title {
                @include font(1.9rem, 1.2, 600, -0.5px);
            }
        }
    
        .restaurants-content {
            padding: 0 1rem 5.2rem 1rem;
    
            .restaurants-column {
                .card { 
                    .card-link {
                        .card-figure {
                            .card-figcaption {
                                .card-figcaption-content-title {
                                    .card-title {
                                        @include font(1.2rem, 1.5, bold);
                                    }
    
                                    .card-subtitle {
                                        @include font(1.1rem, 1.5, lighter);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}