.loader {
  @include flex(column);
  @include align(center, center);
  @include size();
  z-index: 20;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 3s ease-in-out normal forwards;
  opacity: 1;
  background: var(--night-rider);
  position: fixed;

  .loader-logo {
    @include size(300px, auto);
    margin: 0 auto;

    .loader-logo-image {
      @include size();

      path {
        fill: var(--white);
      }
    }
  }

  .loader-icon {
      @include flex();
      @include size(300px, 200px);
      @include align(center, center);

      .loader-icon-content {
          @include size(25%, auto);
          @include relative-position();

          .loader-icon-stove {
              @include relative-position();
          }

          .stove-handle {
              @include size(80px, 8px);
              @include absolute-position(inherit, inherit, -65px, -74px);
              content:'';
              display:block;
              background-color: var(--transparent);
              border-top: 5px solid var(--white);
              border-left: 3px solid var(--transparent);
              border-radius: 100%;
              transform: rotate(15deg);
              transform-origin: right;
              animation: stove-handle 1500ms 250ms infinite ;
          }

          .stove-base {
              @include size(100px, 23px);
              @include absolute-position(50px);
              background-color: var(--white);
              border-radius: 0 0 40px 40px;
              transform-origin: left;
              animation: stove-base 1500ms 250ms infinite ;
          }
          
          .loader-icon-aliment {
              @include size(10px, 10px);
              @include absolute-position(inherit, inherit, -64px, 13px);
              animation: food 1500ms infinite ease-in;
              @for $i from 1 through 3 {
              &-#{$i} {
                  animation-delay: 500ms * ((0.5)* $i);
                  }
              }
          }
          
          .loader-icon-aliment-1 {
              background-color: var(--primary);
          }
          
          .loader-icon-aliment-2 {
              background-color: var(--secondary);
          }
          
          .loader-icon-aliment-3 {
              background-color: var(--tertiary);
          }  
      }
  }
}

@include keyframes(loader-page) {
  0% { 
     opacity: 1;
  }

  50% {
      opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@include keyframes(stove-handle) {
  0% {
    transform: translate(0,1);
  }
  10% {
    transform: translate(0, -10%) rotate(25deg);
  }
  20% {
    transform: translate(0, 10%) rotate(-10deg);
  }
  40% {
    transform: translate(0, -40%) rotate(10deg);
  }
  100% {
    transform: translate(0,1);
  }
}

@include keyframes(stove-base) {
  0% {
    transform: translate(0, 1);
  }
  10% {
    transform: translate(0, -10%) rotate(5deg);
  }
  20% {
    transform: translate(0, 10%) rotate(-10deg);
  }
  40% {
    transform: translate(0, -40%);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(0,1) rotate(0deg);
  }
}
 
@include keyframes(food) {
  0% {
    transform: translate(0,1);
  }
  10% {
    transform: translate(55px, -1px);
  }
  20% {
    transform: translate(63px, -5px) rotate(0deg);
  }
  28% {
    transform: translate(70px, -50px);
  }
  35% {
    transform: translate(68px, -55px) rotate(180deg);
  }
  40% {
    transform: translate(60px, -60px);
  }
  45% {
    transform: translate(52px, -65px) rotate(360deg);
  }
  50% {
    transform: translate(42px, -69px);
  }
  55% {
    transform: translate(31px, -67px);
  }
  60% {
    transform: translate(22px, -64px) rotate(-180deg);
  }
  65% {
    transform: translate(15px, -60px);
  }
  70% {
    transform: translate(6px, -54px) ;
  }
  75% {
    transform: translate(-1px, -47px) rotate(-90deg);
  }
  80% {
    transform: translate(-7px, -36px);
  }
  85% {
    transform: translate(-9px, -24px) rotate(0deg);
  }
  90% {
    transform: translate(-7px, -8px) rotate(90deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
